In [9]:
import numpy as np 
import pandas as pd 
import pyreadr
from sklearn.ensemble import RandomForestClassifier

In [20]:
result = pyreadr.read_r("./results/20221017_meth_combat_beta.Rds")
df = result[None]

In [27]:
meta_data = pd.read_csv("./meta_data/training_meta_data.txt", sep="\t")

,Sample_Name,Slide,Array,Technology,Sample_UID,CC_Epi_newLRO,Group3_signature,CNAGroups,Cell_type_groups,MEN1,DAXX_ATRX,MCT4_max,Grade
0,ICGC_0425,8942334124,R04C01,450K,8942334124_R04C01,Alpha_like,Group1_2,Group1,Alpha-like,mut,wt,negative,G1
1,ICGC_0427,8942334124,R01C02,450K,8942334124_R01C02,Intermediate_ADM,Group3,Group1,Intermediate,wt,wt,negative,G2
2,ICGC_0428,8942334124,R02C02,450K,8942334124_R02C02,Intermediate_ADM,Group1_2,Group3,Intermediate,mut,wt,het,G2
3,ICGC_0432,8942334124,R06C02,450K,8942334124_R06C02,Intermediate_ADM,Group3,Group3,Intermediate,mut,mut,positive,G1
4,ICGC_0434,8942334138,R05C01,450K,8942334138_R05C01,Intermediate_ADM_WT,Group1_2,Group1,Intermediate,wt,wt,negative,G1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,aP431,204379160006,R03C01,EPIC,204379160006_R03C01,Alpha_like,NaN,NaN,NaN,NaN,wt,NaN,G1
151,aP464,204379160006,R04C01,EPIC,204379160006_R04C01,Alpha_like,NaN,NaN,NaN,NaN,wt,NaN,G1
152,aP318,204411500084,R06C01,EPIC,204411500084_R06C01,Alpha_like,NaN,NaN,NaN,NaN,wt,NaN,G1
153,aP328,204411500084,R07C01,EPIC,204411500084_R07C01,Intermediate_ADM_WT,NaN,NaN,NaN,NaN,wt,NaN,G1
154,aP348,204411500084,R08C01,EPIC,204411500084_R08C01,Alpha_like,NaN,NaN,NaN,NaN,wt,NaN,G1

In [ ]:
test = RandomForestClassifier(n_estimators=100, max_features="sqrt",).fit